<mat-tab-group>
  <mat-tab label="Reservation">
    <!-- Add content for the Bookatable tab -->
    <app-reservation></app-reservation>
  </mat-tab>
  <mat-tab label="MenuTable">
    <!-- Add content for the Contact tab -->
    <app-menu-table></app-menu-table>
  </mat-tab>
  <mat-tab label="MenuCard">
    <!-- Add content for the Contact tab -->
    <app-menu-card></app-menu-card>
  </mat-tab>
  <mat-tab label="createAdminForm">
    <!-- Add content for the Change Password tab -->
    <app-create-admin></app-create-admin>
  </mat-tab>
</mat-tab-group>

