<div class="image">
  <div class="overlay"></div>
  <div class="container d-flex flex-column align-items-center">
    <h1 class="heading">CAFE RESERVATION APPLICATION</h1>

    <br><br>
    
    <a
      type="button"
      class="btn btn-danger btn-lg"
      routerLink="/userlogin"
    >
      User Login
    </a>
    <span class="mt-2 new-user">
      <span class="white-text">New User?</span> <a routerLink="/register" class="white-link">Register Here</a>
    </span>
    <br />
    <a
      type="button"
      class="btn btn-danger btn-lg"
      routerLink="/adminlogin"
    >
      Admin Login
    </a>
  </div>
</div>


