<div class="image">
  <mat-tab-group class="custom-tab-group">
    <mat-tab label="Welcome">
     <app-welcome></app-welcome>
    </mat-tab>
    <mat-tab label="Bookatable">
      <app-bookatable></app-bookatable>
    </mat-tab>
    <mat-tab label="Contact">
      <!-- Add content for the Contact tab -->
      <app-contact></app-contact>
    </mat-tab>
    <mat-tab label="Menu">
      <!-- Add content for the Contact tab -->
      <app-menu-card></app-menu-card>
    </mat-tab>
    <mat-tab label="Change Password">
      <!-- Add content for the Change Password tab -->
      <app-changepassword></app-changepassword>
    </mat-tab>
    <mat-tab label="Update Profile">
      <!-- Add content for the Change Password tab -->
      <app-update-profile></app-update-profile>
    </mat-tab>
  </mat-tab-group>
  </div>


