      <!-- Add content for the Home tab -->
      <body>
      <div class="tab-content">
        <h1>Welcome to BlueBird Cafe</h1>
        <p>Indulge in the art of flavor at our charming cafe. We invite you to savor moments of pure delight with each sip and bite.</p>
        <p>Visit us for a memorable dining experience!</p>
        <button class="reservation-button" routerLink="/bookatable">Book a Table</button>
        <br>
        <button class="home-button" routerLink="/home">Logout</button>
    </div>
    </body>
